{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="alert alert-danger">
            {%- for error in errors -%}
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error.message }}
            {%- endfor -%}
        </div>
    {%- endif %}
{%- endblock form_errors %}