{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron col-12">
        <h1 class="display-3">403 - Forbidden</h1>
    </div>
    <div class="col-12">
        <img class="img-fluid" src="https://media.giphy.com/media/wxNzbdgN8GcWQ/giphy.gif">
    </div>
{% endblock %}
