{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron col-12">
        <h1 class="display-3">Whoops it's a bug</h1>
    </div>
    <div class="col-12">
        <div class="alert alert-info">
            If you keep getting this error, please report it <a href="https://github.com/fribim/akut-shift-planner/issues">here</a>.
        </div>
    </div>
    <div class="col-12">
        <img class="img-fluid" src="https://media.giphy.com/media/o8elHkOZR56g0/giphy.gif">
    </div>
{% endblock %}
