{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron col-12">
        <h1 class="display-3">404 - Page not found</h1>
    </div>
    <div class="col-12">
        <img class="img-fluid" src="https://media.giphy.com/media/3oKIP6AYztSrFZ0AoM/source.gif">
    </div>
{% endblock %}
