{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1 class="display-3">Schicht-Plan.ch</h1>
        <p>
            <h3>{% trans %}story{% endtrans %}</h3>
            {% trans %}story_text{% endtrans %}
        </p>
        <p>
            <h3>{% trans %}credits{% endtrans %}</h3>
            {% trans %}credits_text{% endtrans %}
        </p>

        <p>
            <h3>{% trans %}license{% endtrans %}</h3>
            {% trans %}license_text{% endtrans %}
        </p>
        <div class="col-12">
            <img width="300px" class="img-fluid pull-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/AGPLv3_Logo.svg/640px-AGPLv3_Logo.svg.png">
        </div>
    </div>
{% endblock %}
