{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1 class="display-3">Schicht-Plan.ch</h1>
        <p>
            <h3>Story</h3>
            Schicht-Plan.ch was hacked together, for the culutural center <a href="http://akut-thun.ch">AKuT</a> in Thun.<br>
            They needed a shift planner which allowed to store templates, so external people who want to organise an event at AKuT
            are able to crate a shift plan themselves.
        </p>
        <p>
            <h3>Credits</h3>
            Built and hacked together by <a href="mailto:jan.friedli@gmx.ch?Subject=Schicht-Plan.ch" target="_top">Jan Friedli</a>
            This tool was heavily inspired by <a href="https://schichtplan.immerda.ch">schichtplan.immerda.ch</a>
        </p>

        <p>
            <h3>License</h3>
            This tool is licensed under GNU Affero General Public License (AGPL).<br>
        </p>
        <div class="col-12">
            <img width="300px" class="img-fluid pull-right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/AGPLv3_Logo.svg/640px-AGPLv3_Logo.svg.png">
        </div>
    </div>
{% endblock %}
