{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>Recover password for plan: </h1>
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_row(form.email) }}
        </div>
        <input class="btn btn-primary" type="submit" value="recover" />
        {{ form_end(form) }}
    </div>.
{% endblock %}
