{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron col-12">
        <h1 class="display-3 h1-responsive">Schicht-Plan.ch</h1>
        <h6 class="h6-responsive">{% trans %}home_description{% endtrans %} <a href="https://schichtplan.immerda.ch">schichtplan.immerda.ch</a></h6>
        <br>
        <h5>{% trans %}features{% endtrans %}</h5>
        <p>
            <ul class="list-index">
                <li>{% trans %}home_first_bullet{% endtrans %}</li>
                <li>{% trans %}home_second_bullet{% endtrans %}</li>
                <li>{% trans %}home_third_bullet{% endtrans %}</li>
                <li>{% trans %}home_fourth_bullet{% endtrans %}</li>
            </ul>
        </p>
        <hr>
        <p class="lead">
            <a class="btn btn-md btn-primary" href="{{ path('plan_new') }}" role="button">{% trans %}create_shift_plan{% endtrans %}</a>
        </p>
    </div>
{% endblock %}
