.clockpicker-span-hours, .clockpicker-span-minutes {
    color: #000;
}

.text-primary {
    color: #fe7101 !important;
}

.clockpicker-canvas-fg {
    fill: #fe7101 !important;
}

.clockpicker-svg line {
    stroke: #fe7101 !important;
}

.clockpicker-canvas-bg-trans, .clockpicker-canvas-bg {
    fill: rgba(254, 113, 1, .25) !important;
}

.clockpicker-canvas-bearing {
    fill: #fe7101 !important;
}

