.shifts li {
    padding: 0.5rem;
    background-color: rgba(3, 169, 244, 0.05);
    margin-top: 1rem;
}

.shifts li:nth-child(even)  {
    background-color: rgba(96, 125, 139, 0.05);
}

.drag-handle {
    cursor: pointer;
}

.card .fa-bars {
    margin-left: 0.5rem;
}