<h1>You successfully created a new shift plan!</h1>

<p>
    To see who enrolled for your shifts you'll need the following password: <b>{{ password }}</b>
</p>

<p>
    The link to your shift plan: <a href="{{ url('plan_show',{ 'id': plan_id }) }}">{{ url('plan_show',{ 'id': plan_id }) }}</a>
</p>