<h1>You successfully crated a new shift plan!</h1>

<p>
    To see who enrolled for your shifts you'll need the following password:<br>
    {{ password }}
    <br>
    The link to your shift plan: <a href="{{ url('plan_show',{ 'id': plan_id }) }}">{{ url('plan_show',{ 'id': plan_id }) }}</a>
</p>