{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block body %}
    <div class="col-12">
        <h1>{% trans %}new_plan_collection{% endtrans %}</h1>
    </div>

    <div class="col-12">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.title) }}
            {{ form_row(form.plans) }}
        </div>
        <input class="btn btn-primary" type="submit" value="{% trans %}create{% endtrans %}" />
        {{ form_end(form) }}
    </div>
{% endblock %}

