{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-12 d-flex justify-content-end">
        <h1 class="mr-auto p-2">{{ planCollection.title }}</h1>
    </div>

    <div class="col-12">
        {{ form_start(delete_form) }}
        <input class="btn btn-danger btn-sm pull-right" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}


